#resized_header .re .acts {
  float: left;
  margin: 5px 10px 0 0;
}

#resized_header .re .user {
  float: right;
}

#resized_header .re .photo_icon {
	width: 36px;
	height: 36px;
	border-color: #eee; 
}

#resized_header .re a.link_menuicon .micon {
  background-image: url("images/down.png");
}